.title {
    margin-top: 0.5rem;
    font-weight: bold;
}

.currentDate {
    font-size: 30px;
    margin: 0;
}

.dateWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.dateGreen {
    color: lightgreen;
}

.dateRed {
    color: lightcoral;
}

.dateAmber {
    color: orange
}

.header {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.header > .icon {
    margin: 0.5rem;
    color: #ffd666;
}

.header > .title {
    font-weight: bold;
    margin: 0;
}
