.App {
  text-align: left;
}

.main {
  display: block;
  height: 100%;
  width: 100%;
  padding: 1rem 0 0 2rem;
}

.App-header {
  background-color: #29292b;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cardRow {
  display: flex;
  align-items: flex-start;
  flex-flow: row;
  gap: 52%;
}

.rightAlign {
  position: absolute;
  right: 0px;
  width: 300px;

}

