.title {
    margin-top: 0.5rem;
    font-weight: bold;
    width: 200px;
}

.listContent {
    font-size: 30px;
    margin: -15px;
}

.goalsWrapper {
    position: relative;
    top: -10vh;
    left: -2.5vw;
}



