.title {
    margin-top: 0.5rem;
    font-weight: bold;
    width: 200px;
}

.listContent {
    font-size: 30px;
    margin: -15px;
}

.goalsWrapper {
    display: flow;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
}



