.card {
    border-radius: 8px;
    box-shadow: 0 0 8px #ffd666;
    color: white;
    margin: 12px 0;
}

.cardContentDefault {
    padding: 4px 16px 20px 16px;
    display: flex;
    flex-direction: column;
}

.cardContent {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cardTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0 0 0;
}

.content {
    font-size: 14px;
    margin: 8px 0 0 0;
}